<a href="https://colab.research.google.com/github/amfakh/Expense-Forecaster/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import glob
import os
import shutil
import time
import pytz

path = '/content/drive/MyDrive/MoneyManager/'
sqlite = path+'sqlite/backup.sqlite'

mmbak = glob.glob(path+'*.mmbak')
latest = max(mmbak, key=os.path.getmtime)
shutil.copyfile(latest, sqlite)

os.environ['TZ'] = 'Asia/Jakarta'
time.tzset()
mod_time = time.strftime('%d/%m/%Y %H:%M', time.localtime(os.path.getmtime(latest)))
print(mod_time)

08/12/2021 08:37

In [50]:
import sqlite3
import pandas as pd

con = sqlite3.connect(sqlite)
# cur = con.cursor()

query = '''
        SELECT 
            io.WDATE as "Date",
            ass.NIC_NAME as "Assets",
            cat.NAME as "Category",
            cat2.NAME as "Sub Category",
            io.ZDATA as "Note",
            io.IN_ZMONEY as "Amount"
        FROM INOUTCOME io
        LEFT JOIN ASSETS ass ON io.assetUid = ass.uid
        LEFT JOIN ZCATEGORY cat ON io.categoryUid = cat.uid 
        LEFT JOIN ZCATEGORY cat2 ON io.ctgUid = cat2.uid  
        WHERE 
            DO_TYPE = 1
        ORDER BY Date DESC
        '''


df = pd.read_sql_query(query, con)

In [51]:
df.head(10)

         Date Assets Category          Sub Category        Note    Amount
0  2021-12-07  Gopay     None                 Lunch               34300.0
1  2021-12-07  Gopay     None              Clothing       Boxer  109200.0
2  2021-12-05  Gopay     None             Groceries               35300.0
3  2021-12-03  Gopay     None  Subscription Service  Google One    4590.0
4  2021-12-03    Ovo     None               Parking                8000.0
5  2021-12-03    BCA     None                 Other                1000.0
6  2021-12-03   Cash     None               Parking                8000.0
7  2021-12-03   Cash     None             Beverages                8000.0
8  2021-12-03   Cash     None                  Gift                5000.0
9  2021-12-03   Cash     None              Gasoline               40000.0

In [28]:
# for row in cur.execute(query):
#     print(row)