<a href="https://colab.research.google.com/github/amfakh/Expense-Forecaster/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import glob
import os
import shutil
import time
import pytz

path = '/content/drive/MyDrive/MoneyManager/'
sqlite = path+'sqlite/backup.sqlite'

mmbak = glob.glob(path+'*.mmbak')
latest = max(mmbak, key=os.path.getmtime)
shutil.copyfile(latest, sqlite)

os.environ['TZ'] = 'Asia/Jakarta'
time.tzset()
mod_time = time.strftime('%d/%m/%Y %H:%M', time.localtime(os.path.getmtime(latest)))
print(mod_time)

25/01/2022 14:18

In [2]:
import sqlite3
import pandas as pd

con = sqlite3.connect(sqlite)
# cur = con.cursor()

query = '''
        SELECT 
            io.WDATE as "Date",
            ass.NIC_NAME as "Assets",
            ctg.Category as "Category",
            ctg.SubCategory as "Sub Category",
            io.ZCONTENT as "Note",
            io.ZDATA as "Description",
            io.IN_ZMONEY as "Amount"
        FROM INOUTCOME io
        LEFT JOIN ASSETS ass ON io.assetUid = ass.uid
        LEFT JOIN (
            select 
                a.uid,
                b.NAME as Category, 
                a.NAME as SubCategory
            from ZCATEGORY a
            left join ZCATEGORY b on a.pUid = b.uid
            ) ctg ON io.ctgUid = ctg.uid 
        WHERE 
            DO_TYPE = 1
        ORDER BY Date DESC
        '''


df = pd.read_sql_query(query, con)

In [3]:
df.sample(3)

            Date     Assets        Category  ... Note Description   Amount
264   2021-09-24      Gopay            Food  ...              CFC  39900.0
674   2021-02-23       Cash  Transportation  ...                   20000.0
1002  2020-08-28  ShopeePay            None  ...         Alfamart  45600.0

[3 rows x 7 columns]

In [4]:
# for row in cur.execute(query):
#     print(row)

In [5]:
df.to_csv("Test.csv")